.button {
    position: relative;
    padding-right: 60rem;
    transition: 0.4s ease-in-out;

    &._minSize {
        padding-right: 40rem;

        @include mob {
            padding-right: 44rem;
        }
    }

    &__inner {
        height: 60rem;
        padding: 0 24rem;
        font-size: 20rem;
        border-radius: 20rem;
        transition: 0.4s ease-in-out;

        @include mob {
            font-size: 18rem;
        }
    }

    &._minSize &__inner {
        height: 40rem;
        padding: 0 16rem;
        font-size: 16rem;
        border-radius: 14rem;

        @include mob {
            height: 44rem;
            padding: 0 14rem;
            border-radius: 16rem;
        }
    }

    &__icon {
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 2;
        aspect-ratio: 1;
        height: 60rem;
        border-radius: 20rem;
        transform: translate(-100%, 0);
        transition: 0.4s ease-in-out;

        &._smile i {
            width: 26rem;
        }

        & i {
            display: block;
            width: 17rem;
            aspect-ratio: 1;
            margin: auto;
            transition: 0.4s ease-in-out;

            & .icon__fill {
                transition: 0.4s ease-in-out;
            }

            &._first {
                transform: translate(-10rem, 0);
            }

            &._last {
                transform: translate(0, 0) !important;
            }
        }
    }

    &._minSize &__icon {
        height: 40rem;
        border-radius: 14rem;

        & i {
            width: 15rem;

            &._first {
                transform: translate(-8rem, 0);
            }
        }

        @include mob {
            height: 44rem;
            border-radius: 16rem;
        }
    }

    &._white &__inner,
    &._white &__icon {
        color: rgb(var(--main-c));
        background: #fff;
    }

    &._white._whiteDark &__inner,
    &._white._whiteDark &__icon {
        color: rgb(var(--dark-c));

        @include icon(rgb(var(--dark-c)));
    }

    &._dark &__inner,
    &._dark &__icon {
        color: #fff;
        background: rgb(var(--dark-c));

        @include icon(#fff);
    }

    &._purple &__inner,
    &._purple &__icon {
        color: #fff;
        background: #bc22f1;

        @include icon(#fff);
    }

    @include hover {
        &:hover {
            padding: 0 0 0 60rem;
        }

        &._minSize:hover {
            padding: 0 0 0 40rem;

            @include mob {
                padding-left: 44rem;
            }
        }

        &:hover &__icon {
            left: 0;
            transform: translate(0, 0);
        }

        &._white:not(._whiteDark):hover &__inner,
        &._white:not(._whiteDark):hover &__icon,
        &._blueHover:hover &__inner,
        &._blueHover:hover &__icon {
            color: #fff;
            background: rgb(var(--main-c));

            @include icon(#fff);
        }

        &._whiteHover:hover &__inner,
        &._whiteHover:hover &__icon {
            color: rgb(var(--dark-c));
            background: #fff;

            @include icon(rgb(var(--dark-c)));
        }
    }
}
