.fileField {
    & input {
        display: none;
    }

    &__state {
        width: 100%;
        padding: 15rem 16rem;
        color: rgb(var(--dark-c));
        font-size: 16rem;
        line-height: 1.4;
        border: 1rem solid transparent;
        border-radius: 12rem;

        &._empty {
            color: rgba(var(--dark-c), 0.5);
            background: rgba(#fff, 0.7);
        }

        &._uploaded {
            background: #fff;
            border-color: rgb(var(--dark-c));
        }

        &Icon {
            position: absolute;
            top: 50%;
            right: 16rem;
            width: 18rem;
            height: 18rem;
            transform: translate(0, -50%);
        }
    }
}
