.footer {
    position: relative;
    z-index: 1;
    overflow: hidden;

    &__glass {
        position: absolute;
        right: 28rem;
        bottom: -33rem;
        z-index: 2;
        width: 800rem;
        height: 800rem;
        mix-blend-mode: color-burn;
        pointer-events: none;
        will-change: transform;

        @include bg("/media/footer-glass.png", contain, center);

        @include mob {
            top: 130rem;
            right: -175rem;
            bottom: auto;
            width: 450rem;
            height: 450rem;
        }
    }

    &__banner {
        position: relative;
        z-index: 2;
        width: 100%;
        padding: 78rem 84rem;
        overflow: hidden;
        background: #5227ff;
        border-radius: 36rem;

        @include mob {
            padding: 32rem 20rem 340rem;
            border-radius: 28rem;
        }

        &Content {
            max-width: 650rem;

            @include mob {
                max-width: 100%;
            }
        }

        &Title {
            margin-bottom: 40rem;
            color: #fff;
            font-weight: 200;
            font-size: 64rem;
            line-height: 1.3;

            @include mob {
                margin-bottom: 12rem;
                font-weight: 300;
                font-size: 32rem;
            }
        }

        &Text {
            margin-bottom: 90rem;
            color: #fff;
            font-size: 20rem;
            line-height: 1.4;

            @include mob {
                margin-bottom: 28rem;
                font-size: 18rem;
            }
        }

        &Bubble {
            position: absolute;
            right: -70rem;
            bottom: -95rem;
            z-index: 2;
            width: 720rem;
            height: 560rem;
            object-fit: contain;

            @include mob {
                right: -72rem;
                bottom: 14rem;
                width: 380rem;
                height: 250rem;
            }
        }
    }

    &__content {
        position: relative;
        z-index: 1;
        margin-top: -36rem;
        padding: 190rem 0 108rem;
        background: linear-gradient(69deg, #e6f7ff, #e0d9fb);

        @include mob {
            padding: 190rem 0 64rem;
            background: linear-gradient(150deg, #e6f7ff, #e0d9fb);
        }
    }

    &__inner {
        @include mob {
            padding: 0 12rem;
        }
    }

    &__blocks {
        display: flex;
        align-items: flex-start;

        @include mob {
            flex-direction: column;
        }

        & + & {
            margin-top: 100rem;
        }

        &._docs {
            @include mob {
                margin-top: 80rem !important;
            }
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 280rem;

        @include mob {
            width: 100%;
        }

        & + & {
            margin-left: 90rem;

            @include mob {
                margin-top: 76rem;
                margin-left: 0;
            }
        }
    }

    &__blocks._docs &__block + &__block {
        @include mob {
            margin-top: 26rem;
        }
    }

    &__nav {
        &Link {
            color: rgb(var(--dark-c));
            font-weight: 400;
            font-size: 32rem;
            line-height: 1.3;
            transition: $trans;

            @include hover {
                &:hover {
                    color: #5227ff;
                }
            }

            & + & {
                margin-top: 16rem;
            }
        }
    }

    &__logo {
        width: 151rem;
        margin-bottom: 80rem;

        @include mob {
            width: 132rem;
            margin-bottom: 62rem;
        }
    }

    &__link {
        position: relative;
        display: inline-block;
        color: rgb(var(--dark-c));
        font-size: 24rem;
        line-height: 1;
        transition: $trans;

        @include mob {
            font-size: 22rem;
        }

        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1rem;
            background: #5227ff;
            transition: $trans;
            content: "";
        }

        @include hover {
            &:hover {
                color: #5227ff;

                &::after {
                    width: 100%;
                }
            }
        }

        & + & {
            margin-top: 30rem;

            @include mob {
                margin-top: 22rem;
            }
        }
    }

    &__doc {
        position: relative;
        display: inline-block;
        color: rgb(var(--dark-c));
        font-size: 16rem;
        line-height: 1;
        transition: $trans;

        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1rem;
            background: rgb(var(--dark-c));
            transition: $trans;
            content: "";
        }

        @include hover {
            &:hover {
                color: #5227ff;

                &::after {
                    width: 0;
                }
            }
        }
    }

    &__copyright {
        margin-top: 95rem;
        color: rgb(var(--dark-c));
        font-size: 16rem;
        line-height: 1.4;
    }
}
