.input {
    position: relative;
    background: #fff;
    border: 1rem solid transparent;
    border-radius: 12rem;
    transition: $trans;

    @include mob {
        border-radius: 18rem;
    }

    &._focus {
        border-color: rgb(var(--dark-c));
    }

    &__field,
    &__support {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 16rem;
        color: rgb(var(--dark-c));
        font-size: 16rem;
        line-height: 1.4;
        resize: none;

        @include mob {
            padding: 20rem 16rem;
            font-size: 18rem;
        }
    }

    &._area &__support {
        align-items: flex-start;
    }

    &__support {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        color: rgba(var(--dark-c), 0.5);
        cursor: text;
        transition: $trans;
    }

    &._fill &__support {
        transform: translate(8rem, 0);
        opacity: 0;
        pointer-events: none;
    }

    &._select &__field,
    &._select &__support {
        cursor: pointer;
        user-select: none;
        pointer-events: visible;
    }

    &._select &__icon {
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 2;
        width: 12rem;
        height: 12rem;
        transform: translate(0, -50%);
        opacity: 0.64;

        @include icon(#fff);
    }
}
