.page {
    position: relative;
    width: 100%;
    height: var(--wheight);
    background: #e6f7ff;

    &__topBar {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        pointer-events: none;

        &._fix:not(._show) {
            transform: translate(0, -100%);

            @include mob {
                transform: none;
            }
        }
    }

    &__mobMenu {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        padding: 64rem 0 0;
        background: #fff;
    }

    &__scroll {
        position: relative;
        z-index: 1;
        overflow: hidden;
        overflow-y: auto;
        will-change: scroll-position;
        scroll-behavior: auto;
    }

    &__inner {
        // transform: translate(0, -7900px);
    }
}
