.topBar {
    position: relative;
    z-index: 1;
    padding: 27rem 0;

    @include mob {
        padding: 16rem 0;
    }

    &__inner {
        flex-direction: row;
        padding: 0 6rem;

        @include mob {
            align-items: center;
            padding: 0;
        }
    }

    &__logo {
        width: 94rem;
        pointer-events: visible;
    }

    &[data-light] &__logo {
        @include icon(#fff);
    }

    &__menu {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        padding: 8rem 12rem;
        color: rgb(var(--main-c));
        font-size: 16rem;
        line-height: 1.4;
        background: #fff;
        border-radius: 12rem;
        transform: translate(-50%, -50%);
        transition: $trans;
        pointer-events: visible;
        will-change: transform;

        &._hide {
            transform: translate(-50%, -50%) scale(0.7);
            opacity: 0;
            pointer-events: none;
        }
    }

    &__nav {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
        transition: $trans;
        pointer-events: visible;

        &._hide {
            opacity: 0;
            pointer-events: none;
        }

        &Back {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            transition: 0.35s cubic-bezier(0.152, 0.888, 0.046, 1.2);
            pointer-events: none;
            will-change: transform;

            &._active::before {
                opacity: 1;
            }

            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: -1;
                width: calc(100% + 1rem);
                height: calc(100% + 1rem);
                background: rgb(var(--main-c));
                border-radius: 12rem;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: $trans;
                content: "";
            }
        }

        &._hide &LinkInner {
            transform: translate(0, 0) scaleX(0.5) scaleY(0.9);
        }

        &Link {
            position: relative;

            &Inner {
                position: relative;
                z-index: 1;
                padding: 8rem 12rem;
                background: #fff;
                border-radius: 12rem;
                transition: 0.2s ease-in-out;
                will-change: transform;

                &:last-child {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 3;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    color: #fff;
                    text-align: center;
                    background: none;
                    opacity: 0;
                }
            }

            & span {
                position: relative;
                z-index: 1;
                display: block;
                color: rgb(var(--main-c));
                font-size: 16rem;
                line-height: 1.4;
                white-space: nowrap;
                transition: 0.2s ease-out;
                pointer-events: none;
                will-change: transform;
            }

            &Inner:last-child span {
                color: #fff;
                font-weight: 500;
                transform: translate(0, 16rem);
            }

            &._active &Inner span {
                transform: translate(0, -16rem);
                opacity: 0;
            }

            &._active &Inner:last-child {
                opacity: 1;
            }

            &._active &Inner:last-child span {
                transform: translate(0, 0);
                opacity: 1;
            }
        }
    }

    &__mob {
        align-items: center;
        margin: -3rem 0 0 auto;
        pointer-events: visible;
    }

    &__contacts {
        position: relative;
        width: 124rem;
        height: 36rem;
        margin-left: auto;
        pointer-events: visible;

        @include mob {
            width: 28rem;
            height: 28rem;
            margin-left: 0;
        }

        &:not(._active) {
            pointer-events: none;
        }

        &Button {
            position: relative;
            z-index: 2;
            color: #fff;
            font-size: 16rem;
            line-height: 1.3;
            background: #d049ff;
            border-radius: 12rem;
            transform-origin: right center;
            transition: 0.35s cubic-bezier(0.152, 0.888, 0.046, 1.2);
            will-change: transform;

            &:not(._active) {
                transform: scaleX(0.2);
                opacity: 0;
                pointer-events: visible;
            }
        }

        &Icon {
            position: absolute;
            top: 50%;
            right: 0;
            z-index: 1;
            width: 28rem;
            height: 28rem;
            transform: translate(0, -50%);
            transition: 0.2s ease-in-out;
            will-change: transform;

            &._start {
                right: 130rem;
                z-index: 3;

                @include icon(#d049ff);

                &:not(._active) {
                    transform: translate(32rem, -50%) scale(0);
                    opacity: 0;
                }
            }

            &._end {
                pointer-events: visible;

                &._hide {
                    transform: translate(-32rem, -50%) scale(0);
                    opacity: 0;
                }
            }

            @include icon(rgb(var(--dark-c)));
        }

        &._active &Icon {
            @include icon(#d049ff);
        }
    }

    &[data-light] &__contactsButton {
        color: rgb(var(--dark-c));
        background: #fff;
    }

    &[data-light] &__contactsIcon {
        @include icon(#fff);
    }

    &__menuBtn {
        position: relative;
        z-index: 1;
        width: 36rem;
        height: 36rem;
        margin-left: 16rem;
        background: rgba(#fff, 0.7);
        border-radius: 14rem;
        transition: $trans;

        &._active {
            background: rgb(var(--dark-c));
        }

        &Point {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            transition: 0.15s ease-in-out;

            &:first-child {
                transform: translate(-6rem, 0);
            }

            &:last-child {
                transform: translate(6rem, 0);
            }

            &::after {
                width: 4rem;
                height: 4rem;
                background: rgb(var(--dark-c));
                border-radius: 2rem;
                transition: inherit;
                content: "";
            }

            &:first-child::after {
                transform: rotate(-45deg);
            }

            &:last-child::after {
                transform: rotate(45deg);
            }
        }

        &._active &Point {
            &::after {
                background: #fff;
            }
        }

        &[data-start] &Point {
            transform: translate(0, 0);
        }

        &[data-end] &Point {
            &:first-child::after {
                width: 18rem;
                height: 3rem;
            }

            &:nth-child(2)::after {
                opacity: 0;
            }

            &:last-child::after {
                width: 18rem;
                height: 3rem;
            }
        }
    }
}
