.aboutHistory {
    padding: 230rem 0 206rem;

    @include mob {
        padding: 146rem 0 154rem;
    }

    &__inner {
        align-items: center;
    }

    &__galery {
        position: relative;
        z-index: 1;

        &Cards {
            display: inline-flex;

            @include mob {
                flex-direction: column;
            }
        }

        &Card {
            width: 284rem;
            aspect-ratio: 1;
            margin: 0 -17rem;
            will-change: transform;

            @include mob {
                width: 244rem;
                margin: -15rem 0;
            }

            &:not([data-animate]) {
                opacity: 0;
            }

            &Thumb {
                display: block;
                border-radius: 20rem;

                @include mob {
                    border-radius: 15rem;
                }
            }

            &:nth-child(2n) &Thumb {
                transform: rotate(15deg);
            }

            &:nth-child(2n + 1) &Thumb {
                transform: rotate(-15deg);
            }
        }

        &Support {
            color: #36c0f7;
            font-weight: 400;
            font-size: 24rem;
            line-height: 1.25;

            @include mob {
                font-size: 26rem;
            }
        }

        &Cards + &Support,
        &Support + &Cards {
            margin-top: 74rem;

            @include mob {
                margin-top: 60rem;
            }
        }
    }

    &__content {
        position: relative;
        z-index: 2;
        max-width: 860rem;
        margin: 130rem 0;

        @include mob {
            margin: 78rem 0;
        }
    }

    &__title {
        margin-bottom: 16rem;
        color: rgb(var(--dark-c));
        font-weight: 300;
        font-size: 64rem;
        line-height: 1.3;
        text-align: center;

        @include mob {
            font-weight: 400;
            font-size: 31rem;
        }
    }

    &__text {
        color: rgb(var(--dark-c));
        font-size: 20rem;
        line-height: 1.15;
        text-align: center;

        @include mob {
            font-size: 21rem;
        }
    }
}
