.aboutAdvantages {
    position: relative;
    z-index: 1;
    margin-bottom: 212rem;
    padding: 134rem 0;
    background: rgb(var(--dark-c));
    border-radius: 48rem;

    @include mob {
        margin-bottom: 120rem;
        padding: 60rem 0;
        border-radius: 28rem;
    }

    &__inner {
        flex-direction: row;
        padding: 0 32rem;

        @include mob {
            flex-direction: column;
            padding: 0;
        }
    }

    &__content {
        position: sticky;
        top: 134rem;
        z-index: 2;
        max-width: 494rem;

        @include mob {
            position: relative;
            top: 0;
            align-items: center;
            width: 100%;
            max-width: 100%;
            margin-bottom: 100rem;
            padding: 24rem 0 0;
        }
    }

    &__title {
        margin-bottom: 40rem;
        color: #fff;
        font-weight: 200;
        font-size: 64rem;
        line-height: 1.15;

        @include mob {
            margin-bottom: 22rem;
            font-weight: 300;
            font-size: 32rem;
            text-align: center;
        }
    }

    &__text {
        max-width: 460rem;
        color: #fff;
        font-size: 20rem;
        line-height: 1.2;

        @include mob {
            max-width: 100%;
            padding: 0 12rem;
            font-weight: 300;
            font-size: 21rem;
            line-height: 1.13;
            text-align: center;
        }
    }

    &__cards {
        width: 520rem;
        margin-left: auto;

        @include mob {
            width: calc(100% + 8rem);
            margin-left: -4rem;
        }
    }

    &__card {
        position: relative;
        width: 100%;
        padding: 40rem;
        border-radius: 28rem;
        aspect-ratio: 1;
        transform-origin: left top;
        will-change: transform;

        @include mob {
            padding: 34rem;
            border-radius: 34rem;
        }

        & + & {
            margin-top: 0;
        }

        &Number {
            margin-bottom: 24rem;
            color: #fff;
            font-weight: 200;
            font-size: 96rem;
            line-height: 1;

            @include mob {
                font-size: 80rem;
            }
        }

        &Title {
            margin-bottom: 28rem;
            color: rgb(var(--dark-c));
            font-weight: 300;
            font-size: 48rem;
            line-height: 1.2;

            @include mob {
                font-size: 34rem;
                line-height: 1.3;
            }
        }

        &Text {
            max-width: 384rem;
            color: rgb(var(--dark-c));
            font-size: 20rem;
            line-height: 1.4;

            @include mob {
                font-size: 18rem;
            }
        }
    }
}
